// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th{
  padding-bottom: 5px ;
}

td{
  padding-Left: 5px ;
  padding-right: 5px ;
}

.p1{
  margin: 33px;
}

.p2{
  color: green;
  
}